<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ru.antonov.bdid2.mapper.MainMapper">
    <resultMap id="Order" type="ru.antonov.bdid2.dto.Order" autoMapping="false">
        <result column="region_id" property="regionId"/>
        <result column="case_type_id" property="caseTypeId"/>
        <result column="application_basis_id" property="applicationBasisId"/>
        <result column="last_name" property="lastName"/>
        <result column="first_name" property="firstname"/>
        <result column="middle_name" property="middleName"/>
        <result column="gender_id" property="genderId"/>
        <result column="birth_country_id" property="birthCountryId"/>
        <result column="birthday_dt" property="birthDate"/>
        <result column="citizenship_id" property="citizenshipId"/>
        <result column="decision_type_id" property="decisionTypeId"/>
        <result column="basis_id" property="basisId"/>
        <result column="decision_date" property="decisionDate"/>
    </resultMap>

    <select id="getAllOrder" resultType="ru.antonov.bdid2.dto.Order" resultMap="Order">
        select cc.region_id,
               cc.case_type_id,
               c.application_basis_id,
               cpd.last_name,
               cpd.first_name,
               cpd.middle_name,
               cpd.gender_id,
               cpd.birth_country_id,
               cpd.birthday_dt,
               cpd.citizenship_id,
               cd.decision_type_id,
               cd.basis_id,
               cd.decision_date
        from core_case cc
                 join cit_case c on cc.core_case_id = c.id
                 join core_person_document cpd on cc.person_document_id = cpd.core_person_document_id
                 join cit_decision cd on c.id = cd.id
                 left join cit_child cc2 on c.id = cc2.case_id
        where decision_type_id = 2400084221096892019
          and case_type_id in
              (2395184769408177580, 2395184770775520685, 2395184775204705712, 2395184656950498693, 2395184658426893702,
               2395184773468263855, 2606582240796218473, 2780798605949146741, 2395184772126086574)
          and cc.invalid_id = 0
          and cc.action_ind != 'D'
        order by region_id, cd.decision_date
    </select>

    <select id="getAllOrderV2" resultType="ru.antonov.bdid2.dto.Order" resultMap="Order">
        (select cc.region_id,
                cc.case_type_id,
                c.application_basis_id,
                cpd.last_name,
                cpd.first_name,
                cpd.middle_name,
                cpd.gender_id,
                cpd.birth_country_id,
                cpd.birthday_dt,
                cpd.citizenship_id,
                cd.decision_type_id,
                cd.basis_id,
                cd.decision_date
         from core_case cc
                  join cit_case c on cc.core_case_id = c.id
                  join core_person_document cpd on cc.person_document_id = cpd.core_person_document_id
                  join cit_decision cd on c.id = cd.id
                  left join cit_child cc2 on c.id = cc2.case_id
         where decision_type_id = 2400084221096892019
           and case_type_id in
               (2395184769408177580, 2395184770775520685, 2395184775204705712, 2395184656950498693, 2395184658426893702,
                2395184773468263855, 2606582240796218473, 2780798605949146741, 2395184772126086574)
           and cc.invalid_id = 0
           and cc.action_ind != 'D')
        union
        (select cc.region_id,
                cc.case_type_id,
                c.application_basis_id,
                cpd.last_name,
                cpd.first_name,
                cpd.middle_name,
                cpd.gender_id,
                cpd.birth_country_id,
                cpd.birthday_dt,
                cpd.citizenship_id,
                cd.decision_type_id,
                cd.basis_id,
                cd.decision_date
         from core_case cc
                  join cit_case c on cc.core_case_id = c.id
                  join cit_child cch on cch.case_id = cc.core_case_id
                  join core_person_document cpd on cch.child_document_id = cpd.core_person_document_id
                  join cit_decision cd on c.id = cd.id
         where decision_type_id = 2400084221096892019
           and case_type_id in
               (2395184769408177580, 2395184770775520685, 2395184775204705712, 2395184656950498693, 2395184658426893702,
                2395184773468263855, 2606582240796218473, 2780798605949146741, 2395184772126086574)
           and cc.invalid_id = 0
           and cc.action_ind != 'D')
    </select>
    <select id="getAllOrderByRegion" resultType="ru.antonov.bdid2.dto.Order" resultMap="Order">
        select *
        from ((select cc.region_id,
                      cc.case_type_id,
                      c.application_basis_id,
                      cpd.last_name,
                      cpd.first_name,
                      cpd.middle_name,
                      cpd.gender_id,
                      cpd.birth_country_id,
                      cpd.birthday_dt,
                      cpd.citizenship_id,
                      cd.decision_type_id,
                      cd.basis_id,
                      cd.decision_date
               from core_case cc
                        join cit_case c on cc.core_case_id = c.id
                        join core_person_document cpd on cc.person_document_id = cpd.core_person_document_id
                        join cit_decision cd on c.id = cd.id
                        left join cit_child cc2 on c.id = cc2.case_id
               where decision_type_id = 2400084221096892019
                 and case_type_id in
                     (2395184769408177580, 2395184770775520685, 2395184775204705712, 2395184656950498693,
                      2395184658426893702,
                      2395184773468263855, 2606582240796218473, 2780798605949146741, 2395184772126086574)
                 and cc.invalid_id = 0
                 and cc.action_ind != 'D')
              union
              (select cc.region_id,
                      cc.case_type_id,
                      c.application_basis_id,
                      cpd.last_name,
                      cpd.first_name,
                      cpd.middle_name,
                      cpd.gender_id,
                      cpd.birth_country_id,
                      cpd.birthday_dt,
                      cpd.citizenship_id,
                      cd.decision_type_id,
                      cd.basis_id,
                      cd.decision_date
               from core_case cc
                        join cit_case c on cc.core_case_id = c.id
                        join cit_child cch on cch.case_id = cc.core_case_id
                        join core_person_document cpd on cch.child_document_id = cpd.core_person_document_id
                        join cit_decision cd on c.id = cd.id
               where decision_type_id = 2400084221096892019
                 and case_type_id in
                     (2395184769408177580, 2395184770775520685, 2395184775204705712, 2395184656950498693,
                      2395184658426893702,
                      2395184773468263855, 2606582240796218473, 2780798605949146741, 2395184772126086574)
                 and cc.invalid_id = 0
                 and cc.action_ind != 'D')) as o
        where o.region_id = #{regionId}
    </select>


</mapper>